<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="6.0">
  <display-name>DiaryApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.diaryApp.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginJSP</display-name>
    <servlet-name>LoginJSP</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginJSP</servlet-name>
    <url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.diaryApp.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inbox</display-name>
    <servlet-name>Inbox</servlet-name>
    <jsp-file>/inbox.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inbox</servlet-name>
    <url-pattern>/inbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.diaryApp.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewDiary</display-name>
    <servlet-name>AddNewDiary</servlet-name>
    <servlet-class>com.diaryApp.AddNewDiary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewDiary</servlet-name>
    <url-pattern>/newdiary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDiaryServlet</display-name>
    <servlet-name>EditDiaryServlet</servlet-name>
    <servlet-class>com.diaryApp.EditDiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDiaryServlet</servlet-name>
    <url-pattern>/editdiaryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDiaryServlet</display-name>
    <servlet-name>DeleteDiaryServlet</servlet-name>
    <servlet-class>com.diaryApp.DeleteDiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDiaryServlet</servlet-name>
    <url-pattern>/deletediary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.diaryApp.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteuser</url-pattern></servlet-mapping>
  <servlet>
    <servlet-name>EditDiaryPage</servlet-name>
    <jsp-file>/editdiary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDiaryPage</servlet-name>
    <url-pattern>/editdiary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewDiary</servlet-name>
    <jsp-file>/newdiary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDiary</servlet-name>
    <url-pattern>/newdiarypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <jsp-file>/userinfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserInfoPage</servlet-name>
    <jsp-file>/edituserinfopage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserInfoPage</servlet-name>
    <url-pattern>/edituserinfopage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.diaryApp.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/edituser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.diaryApp.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>